.form {
  width: 400px;
  background: white;
  padding: 0;
  margin-top: 99px;
  margin-bottom: 80px;
}

.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #273142;
  padding: 60px 200px 30px 50px;
}

.inputWrapper {
  padding: 0 50px 0 50px;
}

.inputText {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8d909b;
  padding: 15px 0 30px 0;
}

.inputButtons {
  padding: 0px 30px 50px 50px;
}
