.order{
  padding-left: 20px;
  padding-top: 30px;
  display: flex;
}

.orderText{
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #273142;
}

.sideBar{
  padding-top: 20px;
}

.leftImage{
  width: 270px;
  height: 780px;
}

.orderList{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 100px;

}

.orderItem{
  margin: 5px;
  padding: 0;
  width: 250px;
  list-style-type: none;
}

.orderItem a{
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
}

.orderItem a:hover{
  transition: .5s;
  border-bottom: 1px solid rgb(224, 221, 221);
}

.images{
  width: 1310px;
  padding-left: 19px;
  padding-top: 20px;
}

.images img{
  width: 100%;
}