.navbarList{
  display:  flex;
  align-items: center;
  padding-left: 18px;
}

.navbarItem{
  padding-left: 33px;
  list-style-type: none;
}

.navbarItem:first-child{
  padding-left: 0;
}

.navbarItem a{
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  color: #273142;
}

.navbarItem a:hover{
  color: #114FEF;
  transition: 0.5s;
}