.footer{
  background: #F4F7F8;
  /* margin-top: 100px; */
  padding-top: 30px;
}

.footerTop{
  display: flex;
  border-bottom: 1px solid #E8EDF1;
  padding-bottom: 30px;
}

.footerTop{
  margin: 0;
  padding: 0;

}

.footerItem{
  list-style-type: none;
  margin-left: 90px;
}

.footerItem:first-child{
  margin-left: 50px;
}

.footerText{
  font-size: 16px;
  line-height: 19px;
  color: #8D909B;
  padding: 20px 0 40px 0;
  text-align: center;
}